.card{
    position: relative;
    display: grid;
    grid-template-columns:50px min-content;
    grid-gap: 1em 1em;
    grid-template-areas: 
        "image content"
        "image content"
        "body body"
        "body .";
    max-width: 120px;
    height: 150px;
    border:1px solid #ddd;
    padding: 1em;
    margin: 1em 0px;
    border-radius: 4px;
    transition: all 3s;
    font-size: 1em;
}
.cardImg{
    grid-area: 'image';
    align-self: start;
    width:100%;
    object-fit: cover;
    border-radius: 4px;
}
.player_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    grid-area: 'content';
}
.player_Bet,
.player_wins,
.player_price{
    grid-area: 'body';
    display: flex;
    align-items: center;
}
.winnerBorder{
    border: 1px solid green;
    transform: scale(1.2);
}
.loserBorder{
    border:1px solid red;
}
.card-winner{
    position: absolute;
    padding: .125em 1em .125em 1em;
    font-size: .725em;
    color:#fff;
    background: green;
    bottom: 0;
    left: 27%;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: .5em;
}
.card_loser{
    position: absolute;
    padding: .125em 1em .125em 1em;
    font-size: .725em;
    color:#fff;
    background: rgb(238, 41, 41);
    bottom: 0;
    left: 33%;
    text-align: center;
    border-radius: 3px 3px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: .5em;
}